<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libinyu.book.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="com.libinyu.book.pojo.Book">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="scid" jdbcType="INTEGER" property="scid" />
    <result column="lid" jdbcType="INTEGER" property="lid" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="aid" jdbcType="INTEGER" property="aid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="startdate" jdbcType="TIMESTAMP" property="startdate" />
    <result column="people" jdbcType="VARCHAR" property="people" />
    <result column="teacherverify" jdbcType="VARCHAR" property="teacherverify" />
    <result column="adminverify" jdbcType="VARCHAR" property="adminverify" />
    <result column="reportscore" jdbcType="VARCHAR" property="reportscore" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="enterdate" jdbcType="TIMESTAMP" property="enterdate" />
    <result column="leavedate" jdbcType="TIMESTAMP" property="leavedate" />
    <result column="confirm" jdbcType="VARCHAR" property="confirm" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="guide" jdbcType="VARCHAR" property="guide" />
    <result column="report" jdbcType="VARCHAR" property="report" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="booklab" jdbcType="VARCHAR" property="booklab" />
    <result column="booktea" jdbcType="VARCHAR" property="booktea" />
    <result column="bookdevice" jdbcType="VARCHAR" property="bookdevice" />
    <result column="enddate" jdbcType="TIMESTAMP" property="enddate" />
    <result column="bookstudent" jdbcType="VARCHAR" property="bookstudent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, scid, lid, tid, aid, title, detail, startdate, people, teacherverify, adminverify, 
    reportscore, password, enterdate, leavedate, confirm, status, guide, report, did, 
    booklab, booktea, bookdevice, enddate, bookstudent
  </sql>
  <select id="selectByExample" parameterType="com.libinyu.book.pojo.BookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.libinyu.book.pojo.Book" useGeneratedKeys="true">
    insert into book (scid, lid, tid, 
      aid, title, detail, 
      startdate, people, teacherverify, 
      adminverify, reportscore, password, 
      enterdate, leavedate, confirm, 
      status, guide, report, 
      did, booklab, booktea, 
      bookdevice, enddate, bookstudent
      )
    values (#{scid,jdbcType=INTEGER}, #{lid,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, 
      #{aid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, 
      #{startdate,jdbcType=TIMESTAMP}, #{people,jdbcType=VARCHAR}, #{teacherverify,jdbcType=VARCHAR}, 
      #{adminverify,jdbcType=VARCHAR}, #{reportscore,jdbcType=VARCHAR}, #{password,jdbcType=CHAR}, 
      #{enterdate,jdbcType=TIMESTAMP}, #{leavedate,jdbcType=TIMESTAMP}, #{confirm,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{guide,jdbcType=VARCHAR}, #{report,jdbcType=VARCHAR}, 
      #{did,jdbcType=INTEGER}, #{booklab,jdbcType=VARCHAR}, #{booktea,jdbcType=VARCHAR}, 
      #{bookdevice,jdbcType=VARCHAR}, #{enddate,jdbcType=TIMESTAMP}, #{bookstudent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.libinyu.book.pojo.Book" useGeneratedKeys="true">
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scid != null">
        scid,
      </if>
      <if test="lid != null">
        lid,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="aid != null">
        aid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="startdate != null">
        startdate,
      </if>
      <if test="people != null">
        people,
      </if>
      <if test="teacherverify != null">
        teacherverify,
      </if>
      <if test="adminverify != null">
        adminverify,
      </if>
      <if test="reportscore != null">
        reportscore,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="enterdate != null">
        enterdate,
      </if>
      <if test="leavedate != null">
        leavedate,
      </if>
      <if test="confirm != null">
        confirm,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="guide != null">
        guide,
      </if>
      <if test="report != null">
        report,
      </if>
      <if test="did != null">
        did,
      </if>
      <if test="booklab != null">
        booklab,
      </if>
      <if test="booktea != null">
        booktea,
      </if>
      <if test="bookdevice != null">
        bookdevice,
      </if>
      <if test="enddate != null">
        enddate,
      </if>
      <if test="bookstudent != null">
        bookstudent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scid != null">
        #{scid,jdbcType=INTEGER},
      </if>
      <if test="lid != null">
        #{lid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null">
        #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="people != null">
        #{people,jdbcType=VARCHAR},
      </if>
      <if test="teacherverify != null">
        #{teacherverify,jdbcType=VARCHAR},
      </if>
      <if test="adminverify != null">
        #{adminverify,jdbcType=VARCHAR},
      </if>
      <if test="reportscore != null">
        #{reportscore,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=CHAR},
      </if>
      <if test="enterdate != null">
        #{enterdate,jdbcType=TIMESTAMP},
      </if>
      <if test="leavedate != null">
        #{leavedate,jdbcType=TIMESTAMP},
      </if>
      <if test="confirm != null">
        #{confirm,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="guide != null">
        #{guide,jdbcType=VARCHAR},
      </if>
      <if test="report != null">
        #{report,jdbcType=VARCHAR},
      </if>
      <if test="did != null">
        #{did,jdbcType=INTEGER},
      </if>
      <if test="booklab != null">
        #{booklab,jdbcType=VARCHAR},
      </if>
      <if test="booktea != null">
        #{booktea,jdbcType=VARCHAR},
      </if>
      <if test="bookdevice != null">
        #{bookdevice,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="bookstudent != null">
        #{bookstudent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.libinyu.book.pojo.Book">
    update book
    <set>
      <if test="scid != null">
        scid = #{scid,jdbcType=INTEGER},
      </if>
      <if test="lid != null">
        lid = #{lid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="aid != null">
        aid = #{aid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null">
        startdate = #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="people != null">
        people = #{people,jdbcType=VARCHAR},
      </if>
      <if test="teacherverify != null">
        teacherverify = #{teacherverify,jdbcType=VARCHAR},
      </if>
      <if test="adminverify != null">
        adminverify = #{adminverify,jdbcType=VARCHAR},
      </if>
      <if test="reportscore != null">
        reportscore = #{reportscore,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=CHAR},
      </if>
      <if test="enterdate != null">
        enterdate = #{enterdate,jdbcType=TIMESTAMP},
      </if>
      <if test="leavedate != null">
        leavedate = #{leavedate,jdbcType=TIMESTAMP},
      </if>
      <if test="confirm != null">
        confirm = #{confirm,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="guide != null">
        guide = #{guide,jdbcType=VARCHAR},
      </if>
      <if test="report != null">
        report = #{report,jdbcType=VARCHAR},
      </if>
      <if test="did != null">
        did = #{did,jdbcType=INTEGER},
      </if>
      <if test="booklab != null">
        booklab = #{booklab,jdbcType=VARCHAR},
      </if>
      <if test="booktea != null">
        booktea = #{booktea,jdbcType=VARCHAR},
      </if>
      <if test="bookdevice != null">
        bookdevice = #{bookdevice,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null">
        enddate = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="bookstudent != null">
        bookstudent = #{bookstudent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.libinyu.book.pojo.Book">
    update book
    set scid = #{scid,jdbcType=INTEGER},
      lid = #{lid,jdbcType=INTEGER},
      tid = #{tid,jdbcType=INTEGER},
      aid = #{aid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      startdate = #{startdate,jdbcType=TIMESTAMP},
      people = #{people,jdbcType=VARCHAR},
      teacherverify = #{teacherverify,jdbcType=VARCHAR},
      adminverify = #{adminverify,jdbcType=VARCHAR},
      reportscore = #{reportscore,jdbcType=VARCHAR},
      password = #{password,jdbcType=CHAR},
      enterdate = #{enterdate,jdbcType=TIMESTAMP},
      leavedate = #{leavedate,jdbcType=TIMESTAMP},
      confirm = #{confirm,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      guide = #{guide,jdbcType=VARCHAR},
      report = #{report,jdbcType=VARCHAR},
      did = #{did,jdbcType=INTEGER},
      booklab = #{booklab,jdbcType=VARCHAR},
      booktea = #{booktea,jdbcType=VARCHAR},
      bookdevice = #{bookdevice,jdbcType=VARCHAR},
      enddate = #{enddate,jdbcType=TIMESTAMP},
      bookstudent = #{bookstudent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>