<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libinyu.book.mapper.ScoreMapper">
  <resultMap id="BaseResultMap" type="com.libinyu.book.pojo.Score">
    <id column="score_id" jdbcType="INTEGER" property="score_id" />
    <result column="score_regular" jdbcType="VARCHAR" property="score_regular" />
    <result column="score_experiment" jdbcType="VARCHAR" property="score_experiment" />
    <result column="score_total" jdbcType="VARCHAR" property="score_total" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    score_id, score_regular, score_experiment, score_total
  </sql>
  <select id="selectByExample" parameterType="com.libinyu.book.pojo.ScoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from score
    where score_id = #{score_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from score
    where score_id = #{score_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="score_id" keyProperty="score_id" parameterType="com.libinyu.book.pojo.Score" useGeneratedKeys="true">
    insert into score (score_regular, score_experiment, 
      score_total)
    values (#{score_regular,jdbcType=VARCHAR}, #{score_experiment,jdbcType=VARCHAR}, 
      #{score_total,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="score_id" keyProperty="score_id" parameterType="com.libinyu.book.pojo.Score" useGeneratedKeys="true">
    insert into score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="score_regular != null">
        score_regular,
      </if>
      <if test="score_experiment != null">
        score_experiment,
      </if>
      <if test="score_total != null">
        score_total,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="score_regular != null">
        #{score_regular,jdbcType=VARCHAR},
      </if>
      <if test="score_experiment != null">
        #{score_experiment,jdbcType=VARCHAR},
      </if>
      <if test="score_total != null">
        #{score_total,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.libinyu.book.pojo.Score">
    update score
    <set>
      <if test="score_regular != null">
        score_regular = #{score_regular,jdbcType=VARCHAR},
      </if>
      <if test="score_experiment != null">
        score_experiment = #{score_experiment,jdbcType=VARCHAR},
      </if>
      <if test="score_total != null">
        score_total = #{score_total,jdbcType=VARCHAR},
      </if>
    </set>
    where score_id = #{score_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.libinyu.book.pojo.Score">
    update score
    set score_regular = #{score_regular,jdbcType=VARCHAR},
      score_experiment = #{score_experiment,jdbcType=VARCHAR},
      score_total = #{score_total,jdbcType=VARCHAR}
    where score_id = #{score_id,jdbcType=INTEGER}
  </update>
</mapper>